{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="p-4 custom-card-container">
        <h1>Website Project</h1>

        <h3>Motivation</h3>
        <p>
            I've been interested in having a personal website for several years, but wanted to be able to develop and host the website myself. 
            After the COVID chip shortage, I was finally able to buy a Raspberry Pi, purchased a domain name, and started to develop this site. 
            It has been a fun project and made me even more interested in the power of data. 
            I look forward to expanding this tool and transitioning to a more powerful home server in the future.
        </p>

        <h3>Goals</h3>
        <ul>
            <li>Explore PHP and JavaScript</li>
            <li>Build website infrastructure using the Laravel code framework</li>
            <li>Design webpages using Bootstrap CSS classes 
                <ul><li>Make design functional and somewhat aesthetic</li></ul>
            </li>
            <li>Gain experience working on a Linux machine</li>
            <li>Achieve proficiency in MySQL Databases
                <ul> 
                    <li>Using Workbench GUI</li>
                    <li>Using command line</li>
                </ul>
            </li>
            <li>Restrict access to database and private pages to admin users</li>
            <li>Develop good backup habits</li>
            <li>Develop good logging habits</li>
        </ul>

        <h3>Future Work</h3>
        <ul>
            <li>Migrate other existing projects to website/database.</li>
            <li>Move server to a more powerful machine.</li>
        </ul>
    </div>
</div>
{% endblock %}
