{% extends "strava_layout.html" %}

{% block content %}
<div class="container custom-card-container">
    <div class="container custom-card-header">
        <h1>{{ activity.athlete_name }}'s {{ activity.sport_type }} on {{ activity.start_date|date:"Y-m-d" }}</h1>
    </div>
    <div class="custom-card-subheader">
        <h3>{{ activity.name }}</h3>
    </div>

    <div class="row">
        <div class="col-md-3 p-1">
            <div class="p-4">
                <table class="table">
                    <tbody>
                        <tr><td>Distance</td><td>{{ activity.distance|floatformat:1 }} mi</td></tr>
                        <tr>
                            <td>Pace</td>
                            <td>
                                {% with pace=1/(0.03728 * activity.average_speed) %}
                                    {% with minutes=pace|floatformat:0 seconds=pace|floatformat:2 %}
                                        {{ minutes }}:{{ seconds|floatformat:0 }} min/mi
                                    {% endwith %}
                                {% endwith %}
                            </td>
                        </tr>
                        <tr><td>Elapsed Time</td><td>{{ activity.elapsed_time|divisibleby:60 }} min</td></tr>
                        <tr><td>Elevation Gain</td><td>{{ activity.total_elevation_gain|floatformat:0 }} ft</td></tr>
                        <tr><td>ID</td><td>{{ activity.id }}</td></tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    <form action="{% url 'strava_previous_activity' activity.id %}" method="get">
                        <button class="btn btn-danger">Previous</button>
                    </form>
                    <form action="{% url 'strava_next_activity' activity.id %}" method="get">
                        <button class="btn btn-danger">Next</button>
                    </form>
                </div>
                <form action="{% url 'strava_activities' %}" method="get">
                    <button class="btn btn-danger w-100 mt-2">All Activities</button>
                </form>
            </div>
        </div>
        <div class="col-md-5 p-1">
            <div class="m-3" style="border: 2px solid #000;">
                <div id="mapID" style="height:300px;"></div>
            </div>
        </div>
        <div class="col-md-4 p-1">
            <div class="p-3">
                <div id="histID" style="height:300px;"></div>
            </div>
        </div>
    </div>

    <script>
        const splits = {{ splits|safe }};
        const activity = {{ activity|safe }};
        const matchedActivities = {{ matched_activities|safe }};
        mapboxgl.accessToken = "{{ mapbox_key }}";

        console.log(splits);
        console.log(activity);

        const lineObj = { ID: 'lineID', selector: 'lineSelector' };
        const scatterObj = { ID: 'scatterID', xSelector: 'xSelector', ySelector: 'ySelector', checkbox: 'checkbox' };
        const mapObj = { ID: 'mapID' };
        const histObj = { ID: 'histID' };

        strava_dashboard(splits, activity, lineObj, scatterObj, mapObj, histObj);
    </script>
</div>
{% endblock %}
